
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
 }

body {
    margin: 300px;
    padding: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header .nome #nome {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    background-color: #f2f2f2;
}

.experiencia {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

header{
    text-align: justify;
    margin-bottom: 40px;
}
 
p {
    font-size: 16px;
    line-height: 1.5;
    margin: 18px;
    text-align: justify;
}